html,
body,
pan-svg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  outline: 0;
  font-size: 0;
  background-color: rgb(27, 27, 58);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* --------------------------------------- */

pan-svg {
  display: block;

  .hover-state {
    opacity: 0;

    &:hover {
      opacity: 1;
      cursor: default;
    }
  }

  &.loading {
    opacity: 0;
    pointer-events: none;
  }

  &.ready {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  &.loop {
    g.dark {
      animation: dark-animation 400s linear infinite;
    }

    .hover-state {
      animation: lights-animation 400s linear infinite;
    }
  }
}

@keyframes dark-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lights-animation {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}